src/main/app/dfsp-to-mojaloop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <flow name="get:/health">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-scheme-adapter.basepath}/health"
                       doc:name="HTTP"/>
        <set-payload value="{ &quot;status&quot; : &quot;ok&quot; }"
                     doc:name="Set Payload" mimeType="application/json"/>
        <exception-strategy ref="interop-catch-exception-strategy"
                            doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="post:/commands/register">
        <http:listener config-ref="api-httpListenerConfig" path="/directory/v1/commads/register"
                       doc:name="HTTP"/>
        <logger level="INFO"
                message="Sending Request to GET http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/fsp"
                category="com.pdp.interop.switch.get-parties-type-id" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/fsp" method="POST" doc:name="Add FSP">
            <http:success-status-code-validator values="200..599"/>
        </http:request>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']"
                      doc:name="Property"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <logger level="INFO"
                message="Response from /commands/register Response: #[message.payloadAs(java.lang.String)]"
                category="com.mojaloop.interop.dfsp.directory.resgister" doc:name="logger"/>
        <exception-strategy ref="interop-catch-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="post:/resources">
        <http:listener config-ref="api-httpListenerConfig" path="/directory/v1/resources" allowedMethods="POST"
                       doc:name="HTTP"/>
        <object-to-string-transformer/>
        <expression-component doc:name="Get Participant">
            <![CDATA[flowVars.retMap = app.registry.utils.createAddParticipantRequest(payload,message.inboundProperties.authorization)]]></expression-component>

        <set-variable variableName="correlationId" value="#[function:uuid] "/>
        <set-payload value="#[flowVars.retMap.addParticipantsRequest]"/>
        <logger level="INFO"
                message="Sending request to POST http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/participants/#[flowVars.retMap.identifierType]/#[flowVars.retMap.identifier] method:post payload: #[message.payloadAs(java.lang.String)] CorrelationId: #[flowVars.correlationId]"
                category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/participants/#[flowVars.retMap.identifierType]/#[flowVars.retMap.identifier]" method="POST"
                      doc:name="Call account-lookup /participants">
            <http:request-builder>
                <http:header headerName="X-Source-Identifier" value="#[flowVars.retMap.dfspName]"/>
                <http:header headerName="X-Forwarded-For" value="#[flowVars.correlationId]"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..599"/>
        </http:request>
        <set-payload value="#[flowVars.retMap.resourceResponse]"/>
        <!--<expression-component doc:name="Get Participant">-->
        <!--<![CDATA[payload = app.registry.syncAsyncMappingStore.getParticipant(flowVars.correlationId.trim())]]></expression-component>-->
    </flow>

    <flow name="get:/resources:central-directory-api-config">
        <http:listener config-ref="api-httpListenerConfig" path="/directory/v1/resources" allowedMethods="GET"
                       doc:name="HTTP"/>
        <object-to-string-transformer/>
        <expression-component doc:name="Get Participant">
            <![CDATA[flowVars.dfspName = app.registry.utils.getDFSPName(message.inboundProperties.authorization)]]></expression-component>
        <set-variable variableName="partyId"
                      value="#[message.inboundProperties.'http.query.params'.identifier.substring(4)]"
                      doc:name="Save identifier"/>
        <set-variable variableName="correlationId" value="#[function:uuid] "/>
        <logger level="INFO"
                message="Sending request to GET http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/parties/MSISDN/#[flowVars.partyId]"
                category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/parties/MSISDN/#[flowVars.partyId]" method="GET" doc:name="Call switch /parties">
            <http:request-builder>
                <http:header headerName="X-Source-Identifier"
                             value="#[flowVars.dfspName]"/>
                <http:header headerName="X-Forwarded-For" value="#[flowVars.correlationId]"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..599"/>
        </http:request>

        <expression-component doc:name="Get Participant">
            <![CDATA[Thread.sleep(1000)]]></expression-component>
        <expression-component doc:name="Get Participant">
            <![CDATA[flowVars.payeeDetails = app.registry.syncAsyncMappingStore.getParticipant(flowVars.correlationId.trim())]]></expression-component>
        <expression-component doc:name="Generate response">
            <![CDATA[payload = app.registry.utils.createDFSPGetResourcesResponse(flowVars.payeeDetails,flowVars.dfspName,'${dfsp-host}','8014')]]></expression-component>
        <logger level="INFO"
                message="Sending response to dfsp GET /resources: #[payload]"
                category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
    </flow>

    <flow name="POST:/quotes:central-directory-api-config">
        <http:listener config-ref="api-httpListenerConfig" path="/scheme/adapter/v1/quotes" allowedMethods="POST"
                       doc:name="HTTP"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received DFSP Quote Request: #[payload]"
                category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
        <set-variable variableName="correlationId" value="#[function:uuid] "/>
        <set-variable variableName="dfsp" value="#['${dfsp-environment}'.substring(0,'${dfsp-environment}'.indexOf('-'))]"/>
        <expression-component doc:name="Get Quote">
            <![CDATA[payload = app.registry.utils.createMojaloopQuotesRequest(payload)]]></expression-component>
        <logger level="INFO"
                message="Sending request to POST http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/quotes Payload: #[payload] X-Source-Identifier:#[flowVars.dfsp]"
                category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/quotes" method="POST" doc:name="Call switch /quotes">
            <http:request-builder>
                <http:header headerName="X-Source-Identifier"
                             value="#[flowVars.dfsp]"/>
                <http:header headerName="X-Destination-Identifier"
                             value="dfsp2"/>
                <http:header headerName="X-Forwarded-For" value="#[flowVars.correlationId]"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..599"/>
        </http:request>
        <expression-component doc:name="Wait">
            <![CDATA[Thread.sleep(1000)]]></expression-component>
        <expression-component doc:name="Get Quote Response">
            <![CDATA[flowVars.quoteResponse = app.registry.syncAsyncMappingStore.getQuote(flowVars.correlationId.trim())]]></expression-component>
        <logger level="INFO" message="Quote Response:#[flowVars.quoteResponse]" category="com.mojaloop.interop.dfsp.scheme.adapter" doc:name="logger"/>
    </flow>

    <catch-exception-strategy name="interop-catch-exception-strategy">
        <set-property propertyName="Content-Type" value="application/json"
                      doc:name="Property - content-type"/>
        <set-property propertyName="http.status" value="501"
                      doc:name="Property - http status"/>
        <set-session-variable variableName="errorMessageId"
                              value="Transformer Messaging Exception" doc:name="set-errorMessageId"/>
        <transformer ref="ExceptionTransformer" doc:name="Exception Transformer"/>
    </catch-exception-strategy>

</mule>
