src/main/app/mojaloop-to-dfsp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <apikit:config name="mojaloop-config" raml="mojaloop.raml" consoleEnabled="false" doc:name="Router"/>

    <flow name="mojaloop-main">
        <http:listener config-ref="api-httpListenerConfig" path="/scheme/adapter/v1/*" doc:name="HTTP"/>
        <apikit:router config-ref="mojaloop-config" doc:name="APIkit Router"/>
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="put:/authorizations/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/parties/{Type}/{ID}/{SubId}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/bulkTransfers/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/quotes/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transactionRequests/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transfers/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transactions/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/bulkQuotes/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{Type}/{ID}/{SubId}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/authorizations/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/parties/{Type}/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{Type}/{ID}/error:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/parties/{Type}/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transactions/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/bulkQuotes/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transfers/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/quotes/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/bulkTransfers/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/transactionRequests/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/parties/{Type}/{ID}/{SubId}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{Type}/{ID}/{SubId}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/participants/{Type}/{ID}:application/json:mojaloop-config">
        <set-variable variableName="correlationId" value="#[message.inboundProperties.'X-Forwarded-For']"/>
        <object-to-string-transformer/>
        <expression-component doc:name="Post Participant">
            <![CDATA[app.registry.syncAsyncMappingStore.addParticipant(flowVars.correlationId.trim(),payload)]]></expression-component>
    </flow>
    <flow name="delete:/participants/{Type}/{ID}/{SubId}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/participants/{Type}/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/authorizations/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/parties/{Type}/{ID}:mojaloop-config">
        <logger level="INFO"
                message="X-Source-Id: #[message.inboundProperties.'X-Source-Identifier'] X-Dest-Id: #[message.inboundProperties.'X-Destination-Identifier']"
                category="com.pdp.interop.mockfsp" doc:name="logger"/>
        <set-property propertyName="Type" value="#[message.inboundProperties.'http.uri.params'.Type]"/>
        <set-property propertyName="ID" value="#[message.inboundProperties.'http.uri.params'.ID]"/>
        <flow-ref name="populate-outbound-properties"/>
        <set-payload value="trigger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="GetParty" doc:name="VM"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="202" doc:name="Property"/>
    </flow>
    <flow name="dequeue-get:/parties/{Type}/{ID}:mojaloop-config">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://GetParty" doc:name="VM"/>
        <flow-ref name="populate-outbound-properties"/>
        <set-variable variableName="receiverType" value="#[message.inboundProperties.Type]"
                      doc:name="Variable"/>
        <set-variable variableName="receiverId" value="#[message.inboundProperties.ID]"
                      doc:name="Variable"/>

        <!-- Storing headers as flow variables as the call to dfsp overides required headers-->
        <set-variable variableName="X-Source-Identifier" value="#[message.inboundProperties.'X-Source-Identifier']"/>
        <set-variable variableName="X-Destination-Identifier" value="#[message.inboundProperties.'X-Destination-Identifier']"/>

        <!-- Making call to DFSP to get the party/receiver information-->
        <logger level="INFO"
                message="Sending request for GET on http://${dfsp-host}:${dfsp-api.port}/receivers/#[message.inboundProperties.ID], Authorization=#['Basic ']${dfsp-api.auth_value}"
                category="com.l1p.interop.scheme.adapter.fetch-payee" doc:name="logger"/>
        <http:request config-ref="dfsp-api-http-config" path="/receivers/#[message.inboundProperties.ID]"
                      method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ']${dfsp-api.auth_value}"/>
            </http:request-builder>
            <http:success-status-code-validator values="200,400"/>
        </http:request>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger level="INFO"
                message="Response from dfsp: #[payload]"
                category="com.pdp.interop.switch" doc:name="logger"/>

        <!-- Making Callback to Mojaloop-->
        <expression-component doc:name="Get Participant">
            <![CDATA[payload = app.registry.utils.createMojaloopPartiesResponse(payload,flowVars.receiverId)]]></expression-component>
        <set-property propertyName="X-Source-Identifier" value="#[flowVars.'X-Destination-Identifier']"/>
        <set-property propertyName="X-Destination-Identifier" value="#[flowVars.'X-Source-Identifier']"/>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger level="INFO"
                message="Sending Request to PUT http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/parties/#[flowVars.receiverType]/#[flowVars.receiverId] Payload: #[payload]"
                category="com.pdp.interop.switch" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/parties/#[flowVars.receiverType]/#[flowVars.receiverId]"
                      method="PUT" doc:name="HTTP">
            <http:success-status-code-validator values="200..599"/>
        </http:request>
    </flow>

    <flow name="get:/transactions/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/transfers/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/quotes/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/bulkQuotes/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/bulkTransfers/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/transactionRequests/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/participants/{Type}/{ID}/{SubId}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/parties/{Type}/{ID}/{SubId}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/participants/{Type}/{ID}:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/bulkQuotes:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/bulkTransfers:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/fsp:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/participants:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/parties/{Type}/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/quotes:application/json:mojaloop-config">
        <logger message="In POST /quotes: #[payload] " level="INFO" category="com.pdp.interop.mockfsp"
                doc:name="Logger"/>
        <flow-ref name="populate-outbound-properties"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="PostQuotes" doc:name="VM"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="202" doc:name="Property"/>
    </flow>
    <flow name="dequeue-post:/quotes:application/json:mock-fsp-config">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://PostQuotes" doc:name="VM"/>
        <object-to-string-transformer/>
        <flow-ref name="populate-outbound-properties"/>

        <!-- Storing headers as flow variables as the call to dfsp overides required headers-->
        <set-variable variableName="X-Source-Identifier" value="#[message.inboundProperties.'X-Source-Identifier']"/>
        <set-variable variableName="X-Destination-Identifier" value="#[message.inboundProperties.'X-Destination-Identifier']"/>
        <set-variable variableName="X-Forwarded-For" value="#[message.inboundProperties.'X-Forwarded-For']"/>

        <set-variable variableName="originalMojaloopQuotesRequest" value="#[payload]"/>

        <!-- Making call to DFSP for Quotes-->
        <expression-component doc:name="Generate DFSP Quotes Request">
            <![CDATA[import io.restassured.path.json.JsonPath;
                flowVars.quoteId = JsonPath.from(payload).getString("quoteId");]]></expression-component>
        <expression-component doc:name="Generate DFSP Quotes Request">
            <![CDATA[payload = app.registry.utils.createDFSPQuotesRequest(payload)]]></expression-component>
        <logger level="INFO"
                message="Posting request to Payee: http://${dfsp-host}:${dfsp-api.port}/quotes, method=post Payload: #[payload]"
                category="com.l1p.interop.scheme.adapter.quote" doc:name="logger"/>
        <http:request config-ref="dfsp-api-http-config" path="/quotes" method="POST"
                      doc:name="Call dfsp-api /quotes">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ']${dfsp-api.auth_value}"/>
            </http:request-builder>
            <http:success-status-code-validator values="200..599"/>
        </http:request>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Response from DFSP /quotes: #[payload]"
                category="com.l1p.interop.scheme.adapter.quote" doc:name="logger"/>

        <!-- Making PUT callback to Mojaloop -->
        <expression-component doc:name="Create Mojaloop Response">
            <![CDATA[payload = app.registry.utils.createMojaloopQuotesResponse(payload,flowVars.originalMojaloopQuotesRequest)]]></expression-component>
        <set-property propertyName="X-Source-Identifier" value="#[flowVars.'X-Destination-Identifier']"/>
        <set-property propertyName="X-Destination-Identifier" value="#[flowVars.'X-Source-Identifier']"/>
        <set-property propertyName="X-Forwarded-For" value="#[flowVars.'X-Forwarded-For']"/>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger level="INFO"
                message="Sending Request to PUT http://${mojaloop.host}:${mojaloop.port}${mojaloop.basepath}/quotes/#[flowVars.quoteId] Payload: #[payload]"
                category="com.pdp.interop.switch" doc:name="logger"/>
        <http:request config-ref="mojaloop-http-config"
                      path="/quotes/#[flowVars.quoteId]"
                      method="PUT" doc:name="HTTP">
            <http:success-status-code-validator values="200..599"/>
        </http:request>
    </flow>
    <flow name="post:/transactionRequests:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/transfers:application/json:mojaloop-config">
        <object-to-string-transformer/>
        <flow-ref name="populate-outbound-properties"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="PostTransfers" doc:name="VM"/>
        <set-property value="202" propertyName="http.status"/>
    </flow>
    <flow name="dequeue-post:/transfers:application/json:mojaloop-config">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://PostTransfers" doc:name="VM"/>
        <!--<flow-ref name="populate-outbound-properties"/>-->
        <object-to-string-transformer/>
        <set-property propertyName="X-Source-Identifier" value="#[message.inboundProperties.'X-Destination-Identifier']"
                      doc:name="Set X-Source-Identifier"/>
        <set-property propertyName="X-Destination-Identifier" value="#[message.inboundProperties.'X-Source-Identifier']"
                      doc:name="Set X-Destination-Identifier"/>
        <set-variable variableName="originalMojaloopTransferRequest" value="#[payload]"/>
        <expression-component doc:name="Get Data from Transfer Request">
            <![CDATA[flowVars.transferMap = app.registry.utils.extractDataFromMojaloopTransferRequest(payload)]]></expression-component>
        <set-variable variableName="transferId" value="#[flowVars.transferMap.transferId]"/>

        <!-- Call dfsp-api for payee id to extract account details-->
        <logger level="INFO"
                message="Sending request for GET on http://${dfsp-host}:${dfsp-api.port}/receivers/#[flowVars.transferMap.payeeId]"
                category="com.l1p.interop.scheme.adapter.fetch-payee" doc:name="logger"/>
        <http:request config-ref="dfsp-api-http-config" path="/receivers/#[flowVars.transferMap.payeeId]"
                      method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="#['Basic ']${dfsp-api.auth_value}"/>
            </http:request-builder>
            <http:success-status-code-validator values="200,400"/>
        </http:request>
        <object-to-string-transformer mimeType="application/json" doc:name="Object to String"/>
        <logger level="INFO"
                message="Response from DFSP for payeeId #[flowVars.transferMap.payeeId]: #[payload]"
                category="com.pdp.interop.switch" doc:name="logger"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="payeeAccount" value="#[payload.account]"/>

        <!--   Call DFSP Prepare Transfer-->
        <expression-component doc:name="Get Prepare Transfer Request">
            <![CDATA[payload = app.registry.utils.createDFSPPrepareTransferRequest(flowVars.originalMojaloopTransferRequest, flowVars.payeeAccount, "${dfsp-host}", "${dfsp-ledger.port}","${dfsp-payee-connector.name}")]]></expression-component>
        <logger level="INFO"
                message="Proxying request to http://${dfsp-host}:${dfsp-ledger.port}${dfsp-ledger.basePath}/transfers/#[flowVars.transferId], method=put payload: #[payload]"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>
        <http:request config-ref="dfsp-ledger-http-config" path="/transfers/#[flowVars.transferId]"
                      method="PUT" doc:name="HTTP">
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Prepare Transfer response from DFSP: #[payload]"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>

        <!--   Call DFSP Fulfill Transfer-->
        <expression-component doc:name="Get Data from Transfer Request">
            <![CDATA[payload = app.registry.utils.createDFSPFulfillTransferRequest(flowVars.originalMojaloopTransferRequest)]]></expression-component>
        <set-variable variableName="transferFulfillment" value="#[payload]"/>
        <set-property propertyName="Content-Type" value="text/plain" doc:name="Property"/>
        <logger level="INFO"
                message="Proxying request to http://${dfsp-host}:${dfsp-ledger.port}${dfsp-ledger.basePath}/transfers/#[flowVars.transferId]/fulfillment, method=put payload: #[payload]"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>
        <http:request config-ref="dfsp-ledger-http-config" path="/transfers/#[flowVars.transferId]/fulfillment"
                      method="PUT" doc:name="HTTP">
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Fulfill Transfer response from DFSP: #[payload]"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>

        <!-- Call Mojaloop Callback PUT for Fulfill Transfer-->
        <expression-component doc:name="Get Data from Transfer Request">
            <![CDATA[payload = app.registry.utils.createMojaloopFulfillTransferResponse(flowVars.transferFulfillment)]]></expression-component>
        <http:request config-ref="mojaloop-http-config"
                      path="/transfers/#[flowVars.transferId]"
                      method="PUT" doc:name="HTTP">
            <http:success-status-code-validator values="200..599"/>
        </http:request>

    </flow>
    <flow name="post:/participants/{Type}/{ID}/{SubId}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/participants/{Type}/{ID}:application/json:mojaloop-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="populate-outbound-properties">
        <!-- Populate out-bound properties based on in-bound headers -->
        <expression-component doc:name="Set-Accept"><![CDATA[if( message.inboundProperties.Accept != null )
	message.outboundProperties['Accept'] = message.inboundProperties.Accept;]]></expression-component>
        <expression-component doc:name="Set-Date"><![CDATA[if( message.inboundProperties.Date != null )
	message.outboundProperties['Date'] = message.inboundProperties.Date;]]></expression-component>
        <!--<expression-component doc:name="Set-Content-Length"><![CDATA[if( message.inboundProperties.'Content-Length' != null )-->
        <!--message.outboundProperties['Content-Length'] = message.inboundProperties.'Content-Length';]]></expression-component>-->
        <expression-component doc:name="Set-Content-Type"><![CDATA[if( message.inboundProperties.'Content-Type' != null )
	message.outboundProperties['Content-Type'] = message.inboundProperties.'Content-Type';]]></expression-component>
        <expression-component doc:name="Set-X-Source-Identifier"><![CDATA[if( message.inboundProperties.'X-Source-Identifier' != null )
	message.outboundProperties['X-Source-Identifier'] = message.inboundProperties.'X-Source-Identifier';]]></expression-component>
        <expression-component doc:name="Set-X-Destination-Identifier"><![CDATA[if( message.inboundProperties.'X-Destination-Identifier' != null )
	message.outboundProperties['X-Destination-Identifier'] = message.inboundProperties.'X-Destination-Identifier';]]></expression-component>
        <expression-component doc:name="Set-X-Forwarded-For"><![CDATA[if( message.inboundProperties.'X-Forwarded-For' != null )
	message.outboundProperties['X-Forwarded-For'] = message.inboundProperties.'X-Forwarded-For';]]></expression-component>
        <expression-component doc:name="Set-X-API-Encryption"><![CDATA[if( message.inboundProperties.'X-API-Encryption' != null )
	message.outboundProperties['X-API-Encryption'] = message.inboundProperties.'X-API-Encryption';]]></expression-component>
        <expression-component doc:name="Set-X-API-Signature"><![CDATA[if( message.inboundProperties.'X-API-Signature' != null )
	message.outboundProperties['X-API-Signature'] = message.inboundProperties.'X-API-Signature';]]></expression-component>
        <expression-component doc:name="Set-X-API-URI"><![CDATA[if( message.inboundProperties.'X-API-URI' != null )
	message.outboundProperties['X-API-URI'] = message.inboundProperties.'X-API-URI';]]></expression-component>
        <expression-component doc:name="Set-X-HTTP-Method"><![CDATA[if( message.inboundProperties.'X-HTTP-Method' != null )
	message.outboundProperties['X-HTTP-Method'] = message.inboundProperties.'X-HTTP-Method';]]></expression-component>
        <logger level="INFO"
                message="In populate outbound properties subflow. Outbound properties at this stage: #[message.outboundProperties]"
                category="com.l1p.interop.routing.populate-outbound-properties" doc:name="logger"/>
    </sub-flow>

    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>